body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 2% auto;
  padding: 0 2%;
  background-color: #4682b41c;
  max-width: 1050px;
  min-width: 350px;
}

form {
    max-width: 600px;
    margin: 20px;
    border-radius: 8px;
}

label {
     margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    min-width: 60px;
}

input[type="text"],
input[type="number"],
select {
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input#count {
    max-width: 100px;
}

input[type="text"],
input[type="number"],:focus{
    outline-color: steelblue;
}

.btn {
    padding: 9px 20px;
    margin-bottom: 15px;
    background-color: #c9c9c961;
    border: 1px solid steelblue;
    box-shadow: 1px 1px 0 0px steelblue;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.dataManage > .btn {
    margin-top: 40px;
}

.btn:active {
    box-shadow: inset 2px 2px 0 0px steelblue;
    background-color: #c9c9c99c;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 20px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  box-shadow: 0px 0px 0 2px steelblue;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  box-shadow: 1px 1px 0 1px steelblue;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* 列幅を固定 */
}

p {
    margin-block: 0;
}

details {
    margin-bottom: 10px;
}

thead {
    border-bottom: 1px solid #ccd6da;
}

th, td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word; /* 内容が長い場合に折り返す */
}

th:nth-child(1), td:nth-child(1) {
    width: 30px; /* 1列目の幅を固定 */
}

th:nth-child(2), td:nth-child(2) {
    width: 150px; /* 2列目の幅を固定 */
}

th:nth-child(3), td:nth-child(3) {
    width: 40px; /* 3列目の幅を固定 */
}


footer{
    margin-top: 10px;
    color: gray;
}

footer > p {
    text-align: center;
}

footer > p > a {
    color: cornflowerblue;
}
