<footer>
    <p>
        developed by <a href="https://github.com/halqme/">HALQME</a>
        <span> | </span>
        see repo on <a href="https://github.com/halqme/lotAikido">GitHub</a>
    </p>

    <style>
        footer {
            margin-top: 10px;
            padding-bottom: 5px;
            color: gray;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--background-color);
        }

        footer > p {
            text-align: center;
            margin: 0 2px;
        }

        footer > p > a {
            color: cornflowerblue;
        }
    </style>
</footer>
