<header>
    <h1><a href="/lotAikido">合気道 技ジェネレータ</a></h1>
</header>
<style>
    header {
        margin-bottom: 20px;
        text-align: center;
    }

    h1 {
        font-size: 2em;
        margin: 0;
    }

    h1 > a {
        color: var(--accent-color);
        text-decoration: none;
    }
</style>
