<div class="table">
    <table id="table">
        <thead>
            <tr>
                <th>NO．</th>
                <th>技</th>
                <th>級段位</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<style>
    .table {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .checkbox {
        text-align: end;
        margin-right: 10%;
    }
    table {
        width: 95%;
        margin: 0 auto;
        border-collapse: collapse;
        table-layout: fixed; /* 列幅を固定 */
    }
    th,
    td {
        padding: 10px;
        text-align: left;
        word-wrap: break-word; /* 内容が長い場合に折り返す */
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 16.5%; /* 1列目の幅を固定 */
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 65%; /* 2列目の幅を固定 */
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 18.5%; /* 3列目の幅を固定 */
    }
</style>
